<div class="card">
  <div class="card-body">
    <!--El form no posee action, se gestiona a traves de ngSubmit se crea el metodo paara gestionar el envio,
      en este caso lo llamare: onSubmit-->
    <form #userForm ="ngForm" (ngSubmit)="onSubmit(userForm)">
      <div class="form-group"></div>
        <input type="text"
         class="form-control"
         name="namePerson"
          #name="ngModel"
          [(ngModel)]="UserService.selectedUser.name"
         >
    </form>
  </div>
</div>
